/* MAIN STYLES */

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 48px;
  line-height: 78px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

p {
  color: #727272;
  line-height: 26.25px;
  margin-bottom: 0;
}

header {
  background-color: #eeeff1;
  padding-bottom: 145px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

/* menu navigation Start */
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 55px;
  margin-bottom: 120px;
}

nav a {
  color: #000;
  font-weight: normal;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 40px;
}

nav a:hover {
  color: #34547a;
  font-weight: 500;
}

.logo {
  width: 85px;
  height: 40px;
}
/* menu navigation END */

/* title-top start */
.title-top {
  display: flex;
  justify-content: space-between;
}

.image-inner {
  width: 445px;
  background-image: url(image/Frame.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.top-description {
  width: 540px;
}

.btn {
  width: 225px;
  height: 65px;
  background-color: #34547a;
  border: none;
  color: #fff;
  text-transform: uppercase;
  margin-top: 60px;
}

/* 1 section start */
.about-me-top {
  width: 540px;
  height: 67px;
  margin: 0 auto;
  margin-top: 119px;
  margin-bottom: 100px;
}
/* 1 section end */

/* 2section start*/
.my-projects {
  background-color: #34547a;
  color: #fff;
  height: 250px;
  padding: 100px 0;
}

.projects-stats {
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  /* min-width: 140px; */
  color: #fff;
}

.icon {
  width: 50px;
  height: 50px;
  background-image: url(image/numbers__item.svg);
  margin-right: 20px;
}

.stats .info b {
  font-weight: 500px;
  font-size: 21px;
}
/* 2section END*/

/* about me start 3 section*/
.about-me {
  display: flex;
  padding: 100px 0;
  align-items: center;
}

.about-me .skills,
img {
  width: 50%;
}

.progress {
  margin-top: 15px;
  width: 445px;
  background: #c4c4c4;
}

.skill {
  margin-top: 25px;
}

.progress .load {
  width: 80%;
  background: #34547a;
  height: 4px;
}
/* about me END 3 section */

/* section 4 END */
.how-i-work {
  width: 1110px;
  height: 57px;
  margin: 0 auto;
  margin-bottom: 100px;
  font-weight: 500;
}

.head-about-work {
  text-align: center;
}

.work-video-text {
  margin: 0px auto;
  width: 540px;
}

.work-video img {
  width: 1100px;
  height: 600px;
}

.work-video {
  margin-top: 57px;
}
/* section 4 END */

/* section 5 START */
.projects-list {
  display: flex;
}
